/* General body styling */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: visible; /* Ensure body doesn't hide dropdowns */
    margin: 1px; /* Reset margins */
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #202122;
    text-align: center;
    height: 100vh;
    overflow-x: auto;

}

:root {
    --z-index-top-bar: 1000;
    --z-index-top-right-container: 1;
    --z-index-central-container: 1;
    --z-index-modal: 10000 !important;
    --z-shepherd: 9999 !important;
}

/* Flex container for top-left and top-right containers */
.top-bar {
    width: 100%;
    display: flex; /* Enables flexbox */
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgb(225, 225, 229); /* Optional: Background color for the top bar */
    height: 5%; /* Consistent height for layout spacing */
    position: relative;
    z-index: var(--z-index-top-bar);
    overflow: visible; /* Prevent clipping of dropdowns */
    border: 1px groove #94979e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a shadow */
}

/* Left container styles */
.top-left-container  {
    text-align: left;
    margin: 0 auto 1% 3%; /* top right bottom left*/
    display: flex;
    align-items: center;
    /*justify-self: start;*/
}

.top-right-container {
    margin: 0.5% auto auto 38%; /* top right bottom left*/
    text-align: right;
    position: relative;
    display: inline-block;
    z-index: var(--z-index-top-right-container);
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Keep items pinned at the top */
    flex-wrap: nowrap; /* Prevent unwanted wrapping, if possible */
}

/* Central container styling */
.central-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping when space is insufficient */
    margin-top: 5%; /* Same as .top-bar height */
    padding-top: 0.5%; /* Adjust this based on the height of .top-bar */
    overflow: visible;
    position: relative; /* Ensure container respects its children */
    z-index: var(--z-index-central-container);
}

.central-left-container #missing-articles-form {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping when space is insufficient */
    margin-top: 1%; /* Same as .top-bar height */
    text-align: left; /* Optional: Keep content  */
    overflow: visible;
    position: relative; /* Ensure container respects its children */
    z-index: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Logo styling */
.globe {
    max-width: 17%;
    margin: 0.025% auto;
    z-index: 1;
    text-align: center;
}

.wikipedia_up_left_globe_logo{
    max-width: 30%;
    margin: 6.0% 1.05% auto auto; /* top right bottom left*/
}

.wikipedia_up_left_text_logo{
    max-width: 30%;
    margin: 4.5% auto auto -35%; /* top right bottom left*/
}

.language_icon{
    max-width: 10%;
    margin: 0.5% auto auto 0; /* top right bottom left*/

}

/* Headings and tagline */
h1 {
    font-family: 'Georgia', serif;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0.05%;
}

.tagline {
    font-size: large;
    color: #555;
    margin-bottom: 0.05%;
}
.main-button {
    background-color: #f6f7f8;
    color: #3366cb;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
}

.main-button:hover {
    background-color: #e9ebee;
}

/* Search options */
.search-options {
    flex-wrap: wrap; /* Allows wrapping when space is insufficient */
    display: flex;
    justify-content: center;
}

.search-button {
    align-items: center;
    display: inline-block;
    background-color: #e2e2e6;
    color: #4d4f53;
    font-size: medium;
    padding: 0.05%;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none; /* Ensures no border is applied */
    justify-self: center;
}

.search-button:hover {
    background-color: #a1a8b0;
    color: #3366cb;
}

.category-button {
    z-index: 100; /* Ensure it's above other elements */
    display: inline-block;
    background-color: #3366cb;
    color: #f6f7f8;
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.category-button:hover {
    background-color: #e9ebee;
    color: #3366cb;
}

/* Language links */
.languages {
    margin-top: 30px;
}

.language-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.languages ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.languages ul li {
    margin: 5px 10px;
}

.languages ul li a {
    color: #0645ad;
    text-decoration: none;
    font-size: 14px;
}

.languages ul li a:hover {
    text-decoration: underline;
}

/* Language Selector */
.language-selector {
    position: relative; /* Ensure the dropdown appears on top */
    top: 100%; /* Adjust based on layout */
    display: none; /* Initially hidden */
    background-color: #f6f7f8;
    border-radius: 1px;
    padding: 5px; /* Add some padding inside the dropdown */
    width: 200px; /* Adjust width as needed */
    z-index: 1000; /* Ensure it's above other elements */
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    pointer-events: none; /* Prevent clicks when hidden */
    visibility: hidden; /* Ensures it's not interactable */
    left: 0;
}

.language-selector.active {
    visibility: visible; /* Ensures it's not interactable */
    transform: translateY(0); /* Move to normal position */
    opacity: 1;
    display: block;
    pointer-events: auto; /* Re-enable interactions */
}

/* Ensure proper positioning of dropdown */
.language-list {
    display: none;
    position: absolute;
    top: 37%; /* below the button */
    left: 0;
    list-style: none;
    max-height: 200px; /* Limit height for scrolling */
    overflow-y: scroll; /* Enable scrolling */
    background-color: #fff;
    border: 1px groove #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.language-list::-webkit-scrollbar {
    width: 5%;
}
.language-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
.language-list::-webkit-scrollbar-thumb:hover {
    background: #888;
}
.language-list li {
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.2s ease;
    text-align: left;
    cursor: pointer;
}

.language-list li:hover {
    background-color: #f6f7f8;
}

/* Search box input focus styling */
.language-search {
    width: 100%;
    font-size: 16px;
    border: 1px solid #3161d6;
    border-radius: 4px;
    display: block;
    transition: box-shadow 0.2s;
}

 /*Display list when search input is focused */
#language-search:focus {
    box-shadow: 0 0 5px rgba(51, 102, 204, 0.5);
}

/* Display list when search input is focused */
#language-search:focus + .language-list {
    display: block; /* Show the dropdown when the input is focused */
}

.article-language-search {
    font-size: medium;
    border: 1px solid #0a39aa;
    border-radius: 4px;
    outline: none;
    display: block;
    transition: box-shadow 0.2s;
}

.article-language-search:focus {
    box-shadow: 0 0 5px rgba(51, 102, 204, 0.5);
}

/* Display list when search input is focused */
.article-language-search:focus + .language-list {
    display: block; /* Show the dropdown when the input is focused */
}

/* Language Selector */
.article-language-selector {
    position: relative;
    background-color: rgba(170, 170, 174, 0.19);
    width: 45%; /* Adjust width as needed */
    opacity: 1; /* Ensure visible */
    display: block; /* Ensure it is displayed */
    transform: translateY(0); /* Remove hidden transform */
    z-index: 1000; /* Ensure it's above other elements */
    transition: opacity 0.2s ease, transform 0.2s ease;
    border: 1px groove rgb(213, 213, 214);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}

.article-language-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #fff;
    border: 1px groove #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 82%;
}

.article-language-list li {
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.2s ease;
    text-align: left;
    cursor: pointer;
}

.article-language-list li:hover {
    background-color: #f6f7f8;
}

/* Show dropdown when button is clicked */
.article-language-selector.active .article-language-list {
    display: block; /* Ensure dropdown is visible when active */
}

.portal-search {
    font-size: 16px;
    border: 1px solid #0a39aa;
    border-radius: 4px;
    outline: none;
    display: block;
    transition: box-shadow 0.2s;
}

/* Display list when search input is focused */
.portal-search:focus {
    display: block; /* Show the dropdown when the input is focused */
    box-shadow: 0 0 5px rgba(51, 102, 204, 0.5);

}

/* Language Selector */
.the-selector {
    position: relative;
    background-color: #f6f7f8;
    border: 1px groove #94979e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 40%; /* Adjust width as needed */
    z-index: 1000;
    opacity: 1; /* Ensure visible */
    display: block !important; /* Ensure it is displayed */
    transform: translateY(0); /* Remove hidden transform */
}

.category-list {
    max-height: 200px; /* Limit the height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.the-selector.active {
    transform: translateY(0); /* Move to normal position */
    opacity: 1;
    display: block;
}
.category-list li {
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.2s ease;
    text-align: left;
    cursor: pointer;
}

.category-list li:hover {
    background-color: #f6f7f8;
}
/* Show dropdown when button is clicked */
.the-selector.active .category-list {
    display: block; /* Ensure dropdown is visible when active */
}

.category-list {
        max-height: 200px; /* Limit the height for scrolling */
        overflow-y: auto; /* Enable vertical scrolling */
        border: 1px solid #ccc;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.category-list li {
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.2s ease;
    text-align: left;
    cursor: pointer;
}

.category-list li:hover {
        background-color: #f0f0f0;
}

.category-list li.selected {
    background-color: #3366cb;
    color: white;
}

#category-search, #portal-search, #all-category-search,
#language-search, #article-language-search , #article-refer-language-search{
    font-size: 16px;
}



.info_msg{
    width: 80%;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
    color: #3366cb;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: double #97b7e4;
    margin-left: 10%;

}
.articles-table th {
    background-color: #f5f5f5;
    text-align: left;
}
.articles-table td, .articles-table th {
    padding: 8px;
    border: 1px solid #ccc;
}
.articles-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#articles_msg{
    font-size: x-large;
    color: #2b2d30;
    font-weight: bold;
    text-align: center;
    text-underline: #2b2d30;
}

.modal {
  display: none;
  position: fixed;
  z-index: var(--z-index-modal);
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f9f9f9;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.close-button {
  color: #aaa;
  float: right;
    top: 8px; right: 16px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}

/* Right-to-left language support */
[dir="rtl"] {
  text-align: right;
}

/* Asian language input styling */
[lang|="zh"], [lang|="ja"], [lang|="ko"] {
  font-family: "Noto Sans CJK", sans-serif;
}

.shepherd-progress-bar {
    height: 4px;
    background-color: #4caf50;
  transition: width 0.3s ease;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.shepherd-footer {
  flex-direction: column;
  align-items: stretch;
}

#welcome-modal,
#missing-welcome-modal {
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
    .top-left-container,
    .central-container,
    .article-language-selector,
    .the-selector {
    }

    .top-right-container {
        flex-direction: column;
        align-items: flex-end;
    }
}

.shepherd-step {
  z-index: var(--z-shepherd) !important;
}
.shepherd-content,
.shepherd-footer,
.shepherd-arrow {
  z-index: var(--z-shepherd) !important;
}
.shepherd-element,
.shepherd-modal-overlay-container {
  z-index: var(--z-shepherd) !important;
}
.shepherd-modal-overlay-container {
  transition: opacity 0.3s ease;
}
.shepherd-element {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.shepherd-element.shepherd-enabled {
  opacity: 1;
  transform: translateY(0);
}
