<!DOCTYPE html>
{% load static i18n %}
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Wikipedia Missing Articles" %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="top-bar">
        <div class="top-left-container">
            <a href="{% url 'index' %}" title="{% trans 'Wikipedia Home' %}">
                <img src="{% static 'images/Wikipedia_Globe_Logo.png' %}" alt="Wikipedia Home" class="wikipedia_up_left_globe_logo">
            </a>
            <a href="{% url 'index' %}" title="{% trans 'Wikipedia Home' %}">
                <img src="{% static 'images/Wikipedia_Text_Logo.png' %}" alt="{% trans 'Wikipedia Home' %}" class="wikipedia_up_left_text_logo">
            </a>
        </div>
        <!-- Top-right Language Button -->
        <div class="top-right-container" style="">  
            
            <button id="language-search-button" class="search-button">
                <img src="{% static 'images/language_icon_gray.png' %}" alt="{% trans 'language icon' %}" class="language_icon">
                {% trans "Page Language" %}
            </button>
            <!-- Language Search (Initially hidden) -->
            <div class="language-selector" id="language-selector">
                <label for="language-search"></label>
                <input 
                    type="text" 
                    id="language-search" 
                    placeholder="{% trans 'Search for a language...' %}" 
                    autocomplete="off"
                >
                <ul id="language-list" class="language-list">
                    <!-- Suggestions will be dynamically populated -->
                </ul>
            </div>
            
        </div>
    </div>
    
    <div class="central-container" style="text-align: center">
        <div style="min-block-size: 100%; width: 100%"> 
            <!-- Wikipedia Globe -->
            <img src="{% static 'images/wikipedia-spins.gif' %}" alt="{% trans 'Wikipedia Globe' %}" class="globe" loading="lazy">
        </div>
        <div style="min-block-size: 100%; width: 100%">
            <br>
        </div>
        <div style="min-block-size: 100%; width: 100%"> 
            <!-- Heading -->
            <h1 id="heading" text-align="center">{% trans "Wikipedia Missing Articles" %}</h1>
            <p id="tagline" class="tagline">
                {% trans "Explore missing articles searching by category." %}
            </p>
            <br>
            <!-- Search Options -->
            <div class="search-options">
                <a href="{% url 'missing_articles_by_category' %}" 
                   class="category-button" id="search-by-category">
                   {% trans "Search by Category" %}
                </a>
            </div>
        </div>
    </div>
    
    <div id="welcome-modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="close-welcome">&times;</span>
            <h2>Welcome to the Missing Articles Tool!</h2>
            <p>This tool helps you find Wikipedia articles missing in one language that exist in another,
                and sort them by priority.
            </p>
            <p>You can choose your preferred language in upper right.</p>
            <p>Currently, we developed search by category, click on the button to get started</p>
        </div>
    </div>
    
    <script src="{% static 'js/welcome-popup.js' %}" defer></script>
    <script src="{% static 'js/language-selector.js' %}" defer></script>

</body>
</html>
