<!DOCTYPE html>
{% load static i18n %}

<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Language & Category Selection"%}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Shepherd CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js/dist/css/shepherd.css" />
    
    <!-- Include Shepherd JS -->
    <script src="https://cdn.jsdelivr.net/npm/shepherd.js/dist/js/shepherd.min.js"></script>

</head>

<body>
    {# this bar have:  #}
    {# 1. left top bar: ypu can click to return to the main tool page #}
    {# 2. left right bar: choose page language, TODO: support all wikipedia languages #}
    <div class="top-bar">
        <div class="top-left-container" id="top-left-container">
            <a href="{% url 'index' %}" title="{% trans 'Wikipedia Home' %}">
                <img src="{% static 'images/Wikipedia_Globe_Logo.png' %}"
                     alt="Wikipedia Home" class="wikipedia_up_left_globe_logo">
            </a>
            <a href="{% url 'index' %}" title="{% trans 'Wikipedia Home' %}">
                <img src="{% static 'images/Wikipedia_Text_Logo.png' %}"
                     alt="{% trans 'Wikipedia Home' %}" class="wikipedia_up_left_text_logo">
            </a>
        </div>
        <!-- Top-right Language Button -->
        <div class="top-right-container" id="top-right-container" >  
            
            <button id="language-search-button" class="search-button">
                <img src="{% static 'images/language_icon_gray.png' %}"
                     alt="{% trans 'language icon' %}" class="language_icon">
                    {% trans "Page Language"%}
                
            </button>
            <!-- Language Search (Initially hidden) -->
            <div class="language-selector" id="language-selector">
                <label for="language-search"></label>
                <input 
                    type="text" 
                    id="language-search" 
                    placeholder="{% trans 'Search for a language...' %}" 
                    autocomplete="off"
                >
                <ul id="language-list" class="language-list">
                    <!-- Suggestions will be dynamically populated -->
                </ul>
            </div>
            
        </div>
    </div>
    
    <div style="text-align: left; font-size: xx-large;margin-left: 5%; width: 90%">
        <br>
        <button id="start-tour" class="shepherd-button" >Start Tour</button>
    </div>
    
    <div id="tour-translations" style="display: none;" 
         data-main-msg="{% blocktrans %}<h2>Welcome to Search Missing Articles by Category!</h2>
         <p>First enter the language you want to contribute to on the left, and the reference language on the right</p>
         <p>Then, you can search from all categories in the selected contribution language</p>
         <p>After the submit, below it will show the missing articles in the language you want to contribute to</p>
            {% endblocktrans %}"

         data-language-selector=
                 "{% trans 'Click here to choose your preferred page language! Not all languages are supported.' %}"
         data-return-to-main=
                 "{% trans 'Click here to return to main page' %}" 
         data-edit-language-list=
                 "{% trans 'Search for the language you want to contribute to or scroll through the list.' %}" 
         data-refer-language-list=
                 "{% trans 'Search for the language you want to refer from or scroll through the list.' %}" 
         data-category=
                 "{% trans 'Write the category you are interested in' %}" 
         data-submit=
                 "{% trans 'When you are done choosing languages and category, click on submit.' %}" 
         data-articles=
                 "{% trans 'The missing articles will appear here' %}" 
         data-next="{% trans 'Next' %}" 
         data-back="{% trans 'Back' %}" 
         data-done="{% trans 'Done' %}"
    >
        
    </div>
    
    {# contain the form and the results #}
    <div class="central-left-container">
        <h2 style="text-align: center;font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;">
            {% trans "Search Missing Articles by Category" %}
        </h2>
    
        <p id="general-message" 
           class="info_msg">
            {% blocktrans %}
                First enter the language you want to contribute to on the left, and the reference language on the right
            {% endblocktrans %}
        </p>
        
        <form id="missing-articles-form" method="POST" action="{% url 'missing_articles_by_category' %}">
        {% csrf_token %}
            <div style="width: 100%;display: flex;border: 1px groove #94979e;/*border-radius: 1px;*/
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                         padding: 1%;
                        ">
                <!-- Language Search Bar -->
                <div class="article-language-selector" id="article-language-selector" >
                    <label for="language" style="color: black;font-size: large">
                        {% blocktrans %}
                            Select the language you want to <b>contribute</b> to:
                        {% endblocktrans %}
                    </label>
                    
                    <br>
                    
                    <label for="article-language-search" ></label>
                    <input 
                             type="text" 
                             id="article-language-search" 
                             placeholder="Search languages..." 
                             autocomplete="off"
                             style="width: 80%; text-align: left;"
                    />
                    <ul id="article-language-list" class="article-language-list" role="listbox">
                        <!-- Suggestions will be dynamically populated -->
                    </ul>
                </div>
                 
                 <div style=" width: 10%"> </div>
                 
                 <!-- reference Language Search Bar -->
                 <div class="article-language-selector" id="article-refer-language-selector" >
                     <label for="comparing-language" style="color: black;font-size: large">
                         {% blocktrans %}
                         Select the language you want to <b>refer</b> from:
                         {% endblocktrans %}
                     </label>
                     <br>
                     <label for="article-refer-language-search"></label>
                     <input
                            type="text"
                            id="article-refer-language-search"
                            placeholder="Search languages..."
                            autocomplete="off"
                            style="width: 80%"
                     />
                     <ul id="article-refer-language-list" class="article-language-list" role="listbox">
                            <!-- Suggestions will be dynamically populated -->
                     </ul>
                     <br>
                     <br>
                 </div>
                 
             </div>   
            
            <div style="width: 100%">
                <div id="article-refer-language-spinner" style="display: none;">
                    <img src="/static/images/spinner.gif" alt="language_spinner">
                    {% blocktrans %}
                    Loading languages...
                    {% endblocktrans %}
                </div>
                <br>
                <br>
            </div>

            <div class="info_msg" style="width: 100%;margin-left: 0;">
                <!-- message -->
                <p id="category-message">
                    {% blocktrans %}
                    you can search from all categories in the selected contribution language
                    {% endblocktrans %}
                </p>
            </div>
            
            <div style="width: 100%"> <br> </div>
            
            <div class="the-selector" id="all-category-selector" style="margin-left: 0">
                <!-- all category Selector -->
                <label for="all-category" style="color: black;font-size: large">
                    {% blocktrans %}
                    Write a category name in contribute language:
                    {% endblocktrans %}
                </label>
                <div id="all-category" class="the-selector" style="border: none; width: 80%;">
                    <input 
                        type="text" 
                        id="all-category-search" 
                        placeholder="Enter category name..." 
                        autocomplete="off"
                        style="width: 97%"
                    />
                    <ul id="all-category-list" class="category-list">
                        <!-- Suggestions dynamically populated -->
                    </ul>
                </div>
                
                <div id="all-category-spinner" style="display: none;">Loading categories...</div>
                <p id="all-cat-feedback-message" style="color: red; font-weight: bold; margin-top: 0.05%;"></p>
                
                <br>
                <p id="all-cat-response_data" style="color: #7c0808;"></p>
            </div>    
        
            <div style="width: 100%"> <br><br> </div>

            <div style="width: 98%; text-align: center;" >
                <button type="submit" id="submit" style="font-size: x-large">
                    {% blocktrans %}
                    Submit
                    {% endblocktrans %}
                </button>
                <p> <br>
                </p>
            </div>
        </form>
                
        <br>
        <div class="info_msg">
                <!-- message -->
            <p id="articles-message">
                {% blocktrans %}
                below are the missing articles in the language you want to contribute to
                {% endblocktrans %}
            </p>
        </div>
        
        <div id="the-results" style="width: 98%" >
            
            <h2 style="margin-left: 10%; 
                        text-align: left;
                        font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;">
                {% blocktrans %}
                Articles Missing in Selected Contribute Language:
                {% endblocktrans %}
            </h2>
            
            <div id="ranked_res_spinner" style="display: none;">
                <img src='/static/images/spinner.gif' alt='Loading Ranked...'>
{#                Loading results...#}
            </div>
            
            <p id="articles_msg", style="
                                    {#width: 100%;#}
                                    text-align: center"> </p>

            <br>
            
            <button id="save-csv-btn" style="display:none; margin-bottom: 10px;">Save result to CSV</button>
            
            <table id="articles-table" class="articles-table" style="width: 100%; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="border: 1px solid #ccc; padding: 8px;">#</th>
                        <th style="border: 1px solid #ccc; padding: 8px;">Title</th>
                        <th style="border: 1px solid #ccc; padding: 8px;">Found in</th>
                        <th style="border: 1px solid #ccc; padding: 8px;">Links</th>
                    </tr>
                </thead>
                <tbody id="articles-table-body">
                    <!-- Les résultats JS s'affichent ici -->
                </tbody>
            </table>
            
            <br>
            <br>
            <br>
        
        </div>
    </div>
    
    <script src="{% static 'js/category-search.js' %}" defer></script>
    <script src="{% static 'js/language-selector.js' %}" defer></script>
    <script src="{% static 'js/category-submission.js' %}" defer></script>
    <script src="{% static 'js/navigation-tour.js' %}" defer></script>


</body>
</html>

